:root {
  --t-yellow: #ffc000;
  --t-brown: #251524;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

body {
  margin: 0;
}

.header {
  background: var(--t-brown);
  justify-content: space-between;
  width: 100%;
  height: 103px;
  padding: 0;
  display: flex;
  position: relative;
  box-shadow: 0 0 40px -10px #1e1e1e80;
}

.logo-container {
  background-color: var(--t-yellow);
  justify-content: center;
  align-items: center;
  width: 103px;
  display: flex;
}

.logo {
  width: 103px;
}

nav-items {
  background-color: ;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  list-style: none;
}

.cart-container {
  background-color: var(--t-yellow);
  justify-content: center;
  align-items: center;
  width: 103px;
  display: flex;
}

.search-box {
  background-image: url("banner_bg.61d0d01f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}

.top-restro-btn, .all-restro-btn {
  margin-right: 10px;
  background: var(--t-brown) !important;
  border: none !important;
}

.card-body {
  padding: 10px !important;
}

.restro-card {
  cursor: pointer;
  margin-bottom: 50px;
  border: 3px solid #ffc000 !important;
}

.restro-card:hover {
  width: 17.5rem;
  height: calc(100% - .5rem);
  border: 5px solid #ffc000 !important;
}

.restro-card-img {
  height: 200px;
}

.res-card-img {
  width: 100%;
  height: 100%;
}

.restro-name {
  justify-content: center;
  padding-top: 50px;
  display: flex;
}

.restro-text h5 {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
  font-size: 15px;
  display: -webkit-box;
  overflow: hidden;
}

.restro-text h6 {
  font-size: 13px;
}

.restro-text p {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  color: #807e7e;
  -webkit-box-orient: vertical;
  font-size: 12px;
  display: -webkit-box;
  overflow: hidden;
}

.restro-slider {
  justify-content: center;
  display: flex;
}

.restro-slider svg {
  color: var(--t-brown);
}

.restro-slider svg:hover {
  color: var(--t-yellow);
  scale: 1.1;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  display: block;
  position: relative;
}

.slick-list {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid #0000;
  height: auto;
  display: block;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("ajax-loader.814ac188.gif") center no-repeat;
}

@font-face {
  font-family: slick;
  font-weight: normal;
  font-style: normal;
  src: url("slick.559e7c80.eot");
  src: url("slick.559e7c80.eot#iefix") format("embedded-opentype"), url("slick.7cbf73e7.woff") format("woff"), url("slick.09f6df20.ttf") format("truetype"), url("slick.229e6b1e.svg#slick") format("svg");
}

.slick-prev, .slick-next {
  cursor: pointer;
  color: #0000;
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #0000;
  background: none;
  outline: none;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: slick;
  font-size: 20px;
  line-height: 1;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  position: absolute;
  bottom: -25px;
}

.slick-dots li {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
  position: relative;
}

.slick-dots li button {
  cursor: pointer;
  color: #0000;
  background: none;
  border: 0;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 0;
  line-height: 0;
  display: block;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: "•";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000;
}

/*# sourceMappingURL=index.e5980c4e.css.map */
